.media-overview {
    margin-top: 50px;
    margin-left: 19vw;
    height: 95vh;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
}

.movie-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-top {
    width: calc(100% / 2);
    border: 3px solid black;
}

.item-low {
    width: calc(100% / 3);
    border: 3px solid black;
}

.item-img {
    object-fit: fill;
    object-position: center;
    width: 100%;
    height: 100%;
}

section {
    height: 2rem;
}
