nav {
    top: 0;
    z-index: 9999;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.navbar-elements {
    display: flex;
    justify-content: space-evenly;
    grid-column: 2 / 3;
    color: white;
    width: 50%;
}

.nav-user {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 4;
    width: 20%;
}

.nav-home {
    background-color: transparent;
}

.element {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.site-icon {
    margin: 2rem;
    position: sticky;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 3.5rem;
}

.nav-home:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in;
}

.element:hover {
    opacity: 1;
    color: #ed1c24;
    transition: 0.15s ease-in;
}

.nav-profile {
    width: 50px;
    height: 50px;
}

.logout-button {
    margin-left: 20%;
    padding: 0.5rem;
    height: 50%;
    min-height: 50%;
}
